aiofile==3.9.0 ; python_version >= "3.12" and python_version < "4.0"
aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.13.3 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
annotated-doc==0.0.4 ; python_version >= "3.12" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.12.1 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.11.1 ; python_version >= "3.12" and python_version < "4.0"
asttokens==3.0.1 ; python_version >= "3.12" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.12" and python_version < "4.0"
boaviztapi==2.0.3 ; python_version >= "3.12" and python_version < "4.0"
caio==0.9.25 ; python_version >= "3.12" and python_version < "4.0"
certifi==2026.2.25 ; python_version >= "3.12" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation == "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "4.0"
ciso8601==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
contourpy==1.3.3 ; python_version >= "3.12" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.12" and python_version < "4.0"
django-bootstrap5==24.3 ; python_version >= "3.12" and python_version < "4.0"
django-browser-reload==1.21.0 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.13.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.2.11 ; python_version >= "3.12" and python_version < "4.0"
ecologits==0.9.3 ; python_version >= "3.12" and python_version < "4.0"
efootprint @ git+https://github.com/terra-cognita-ai/e-footprint.git@ecologits-generic ; python_version >= "3.12" and python_version < "4.0"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
executing==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
fastapi==0.128.8 ; python_version >= "3.12" and python_version < "4.0"
flexcache==0.3 ; python_version >= "3.12" and python_version < "4.0"
flexparser==0.4 ; python_version >= "3.12" and python_version < "4.0"
fonttools==4.61.1 ; python_version >= "3.12" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.11 ; python_version >= "3.12" and python_version < "4.0"
importlib-metadata==8.7.1 ; python_version >= "3.12" and python_version < "4.0"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
ipython==9.10.0 ; python_version >= "3.12" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0"
jsonpickle==4.1.1 ; python_version >= "3.12" and python_version < "4.0"
kiwisolver==1.4.9 ; python_version >= "3.12" and python_version < "4.0"
mangum==0.20.0 ; python_version >= "3.12" and python_version < "4.0"
markdown==3.10.2 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
matplotlib-inline==0.2.1 ; python_version >= "3.12" and python_version < "4.0"
matplotlib==3.10.8 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "4.0"
networkx==3.6 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.4.2 ; python_version >= "3.12" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "4.0"
orjson==3.11.7 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
parso==0.8.6 ; python_version >= "3.12" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.1.1 ; python_version >= "3.12" and python_version < "4.0"
pint==0.25.2 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.9.2 ; python_version >= "3.12" and python_version < "4.0"
plotly==5.19.0 ; python_version >= "3.12" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.12" and python_version < "4.0"
propcache==0.4.1 ; python_version >= "3.12" and python_version < "4.0"
psutil==7.2.2 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.11 ; python_version >= "3.12" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.12" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation == "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "4.0"
pydantic-settings==2.13.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "4.0"
pyjwt==2.11.0 ; python_version >= "3.12" and python_version < "4.0"
pyparsing==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.12" and python_version < "4.0"
pyvis==0.3.2 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0"
rapidfuzz==3.14.3 ; python_version >= "3.12" and python_version < "4.0"
redis==5.3.1 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.12" and python_version < "4.0"
scipy==1.17.1 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.5 ; python_version >= "3.12" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.12" and python_version < "4.0"
starlette==0.52.1 ; python_version >= "3.12" and python_version < "4.0"
tenacity==9.1.4 ; python_version >= "3.12" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.12" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.3 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "4.0"
uvicorn==0.40.0 ; python_version >= "3.12" and python_version < "4.0"
wcwidth==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
wrapt==1.17.3 ; python_version >= "3.12" and python_version < "4.0"
yarl==1.23.0 ; python_version >= "3.12" and python_version < "4.0"
zipp==3.23.0 ; python_version >= "3.12" and python_version < "4.0"
zstandard==0.23.0 ; python_version >= "3.12" and python_version < "4.0"
